.input-div {
  width: 500px;
  padding: 8px;
  border: none;

  background-color: #f0f0f0;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;


}

.input-task {
  text-align: center;
  border: none;
  outline: none;
  text-align: left;
  font-weight: lighter;



}

.container {
  width: 600px;
  height: 700px;
  background-color: azure;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center
}

.todos {
  font-size: 80px;
  font-weight: lighter;
}

.list-unit {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding-right: 10px;
  padding-left: 0;

}